# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Skills\Programming\Java & OOP\Practice\IntelliJ IDEA\Project 2 - Guess The Movie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
